apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: mlflow
  namespace: mlflow
  labels:
    app: mlflow
spec:
  selector:
    matchLabels:
      app: mlflow
  namespaceSelector:
    matchNames:
      - mlflow
  endpoints:
    - port: metrics
      path: /metrics
      interval: 30s
