apiVersion: apps/v1
kind: Deployment
metadata:
  name: credit-fraud-inference
  namespace: ml-inference
  labels:
    app: credit-fraud-inference
spec:
  replicas: 2
  selector:
    matchLabels:
      app: credit-fraud-inference
  template:
    metadata:
      labels:
        app: credit-fraud-inference
    spec:
      containers:
        - name: inference
          image: 581212334853.dkr.ecr.eu-west-1.amazonaws.com/yas-ml-inference:backend-v1
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
          resources:
            requests:
              cpu: "250m"
              memory: "512Mi"
            limits:
              cpu: "500m"
              memory: "1Gi"
          readinessProbe:
            tcpSocket:
              port: 3000
            initialDelaySeconds: 15
            periodSeconds: 30

          livenessProbe:
            tcpSocket:
              port: 3000
            initialDelaySeconds: 30
            periodSeconds: 30

