apiVersion: apps/v1
kind: Deployment
metadata:
  name: credit-fraud-inference-blue
  namespace: ml-inference
  labels:
    app: credit-fraud-inference
    color: blue
spec:
  replicas: 2
  selector:
    matchLabels:
      app: credit-fraud-inference
      color: blue
  template:
    metadata:
      labels:
        app: credit-fraud-inference
        color: blue
    spec:
      containers:
        - name: inference
          image: 581212334853.dkr.ecr.eu-west-1.amazonaws.com/yas-ml-inference:backend-v2
          imagePullPolicy: Always
          env:
            - name: BENTOML_MODEL_REF
              value: "credit_card_fraud_classifier:latest"
          ports:
            - containerPort: 3000
          readinessProbe:
            tcpSocket:
              port: 3000
            initialDelaySeconds: 15
            periodSeconds: 30
          livenessProbe:
            tcpSocket:
              port: 3000
            initialDelaySeconds: 30
            periodSeconds: 30
