apiVersion: apps/v1
kind: Deployment
metadata:
  name: mlflow
  labels:
    app: mlflow
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: mlflow
  template:
    metadata:
      labels:
        app: mlflow
    spec:
      serviceAccountName: mlflow
      containers:
        - name: mlflow
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.containerPort }}
          envFrom:
            - configMapRef:
                name: mlflow
          {{- with .Values.extraEnv }}
          env:
{{ toYaml . | indent 12 }}
          {{- end }}
          args:
            - "mlflow"
            - "server"
            - "--host"
            - "$(MLFLOW_HOST)"
            - "--port"
            - "$(MLFLOW_PORT)"
            - "--backend-store-uri"
            - "$(MLFLOW_BACKEND_STORE_URI)"
            - "--default-artifact-root"
            - "$(MLFLOW_DEFAULT_ARTIFACT_ROOT)"
          {{- with .Values.resources }}
          resources:
{{ toYaml . | indent 12 }}
          {{- end }}
---
apiVersion: v1
kind: Service
metadata:
  name: mlflow
  labels:
    app: mlflow
spec:
  type: {{ .Values.service.type }}
  selector:
    app: mlflow
  ports:
    - name: http
      port: {{ .Values.service.port }}
      targetPort: http
